$black : #000;
$white : #fff;
$primary : #222E56;
$light-purple : rgba(131, 89, 227, .4);
$purple : #8359E3;
$box-color : rgba(233, 233, 233, 0.5);
$box-shadow : rgba(151,152, 243, .5);
$blur-box : rgba(61, 63, 214, .5);

$background : linear-gradient(rgba(225, 188, 206, .5), rgba(190, 203, 240, .5));
$pink_back : rgba(255, 0, 184, .3);
$purple_back : rgba(0, 56, 265, .3);
$box_back : rgba(61, 63, 214, .5);
