$black : #000;
$light-purple : rgba(131, 89, 227, .4);
$purple : #8359E3;

$background : linear-gradient(rgba(225, 188, 206, .5), rgba(190, 203, 240, .5));
$pink_back : rgba(255, 0, 184, .3);
$purple_back : rgba(0, 56, 265, .3);
$box_back : rgba(61, 63, 214, .5);
