.gnb {
  @include flexbox(between);
  
  &-logo {
    margin-right: 95px;

    img{
      width: 195px;
      height: 58.19px;
      object-fit: contain;
    }
  }
  
  &-menu {
    flex-grow : 4;

    &-list {
      @include flexbox(start);
    }

    &-item {
      margin-right: 8px;

      a {
        padding: 10px 22px;
        font-weight: 700;
        opacity: 1;
        transition : opacity 300ms ease-in-out;

        &:hover {
          opacity: .6;
        }
      }
    }
  }

  &-login {
    flex-grow: 1;
    
    &-list {
      @include flexbox(between);
    }

    &-item {
      
      a {
        opacity: 1;
        font-weight: 700;
        transition : opacity 300ms ease-in-out;

        &:hover {
          opacity: .6;
        }
      }

      button {
        position: relative;
        z-index: 1;
        width: 107px;
        height: 50px;
        font-weight: 700;
        border-radius: 50px;
        overflow: hidden;
        background-color: $light-purple;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          overflow: hidden;
          background-color: $purple;
          transition: all 400ms ease-in-out;
        }

        &:hover::after {
          width: 100%;
          z-index: -1;
        }
      }
    }
  }

  @include responsive(T) {
    &-logo {
      margin-right: 20px;

      img{
        width: 150px;
        object-fit: contain;
      }
    }

    &-menu {
      flex-shrink: 0;
      &-item {
        a {
          padding: 12px;
        }
      }
    }
  }

  @include responsive(M) {
    border: 2px solid blue;
  }
}



