body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  width: 1080px;
  height: 1080px;
  border-radius: 50px;
  background: linear-gradient(rgba(225, 188, 206, .5), rgba(190, 203, 240));
}
