body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  width: 1080px;
  height: 1080px;
  border-radius: 50px;
  opacity: .8;
  background: linear-gradient(#E1BCCE, #BECBF0);
}
